selenium
selenium-wire
pydantic
dataclasses
yacs
sqlalchemy
uvicorn
markdownify
readability
html_text
pylcs
beautifulsoup4
blinker==1.7.0
loguru
pandas
mmengine
requests
tqdm
streamlit
requests_html
pydub
moviepy
python-dotenv
readability_lxml==0.8.1
